# Dependencies
/node_modules
/packages/*/node_modules
/example/*/node_modules

# Build outputs
/packages/*/dist
/example/*/dist
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db